on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        env:
          env_var: ${{ vars.OPENAPI_KEY }}
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            export PATH=$PATH:/home/musa/bun/bin
            cd /media
            git pull
            bun i
            pm2 restart index

# Fix Issue regarding deploying due to bun command
# https://github.com/appleboy/ssh-action/issues/31#issuecomment-1006565847 (Comment out [ -z "$PS1" ] && return` in /etc/bash.bashrc)
